/* --------------- colors --------------- */
$cottam-color: #c6faf1;
$white-color: #fff;
$website-theme: #e9c289;
$secondary-website-theme: #e9c289;
$off-white: #f8f8f8;
$website-purple: #b886c5;
$website-blue: #7ECED1;
$cream: #f8f3ee;
$twitter-blue: #00acee;

/*$off-white: #eee;*/

/*
f0b7a8
e8927d
e17055
dd5c3c
*/

/*
85c0c7
62aeb7
48959d
3a767d
*/

/* --------------- paddings --------------- */
$padding-break: 1rem;
$nav-size: 200px;
$break-gutter: 1rem 2%;
$nav-padding: 18.5px 29px;

/* --------------- other --------------- */
$standard-font-size: 16px;
$max-width: 64rem;

/* --------------- imports --------------- */
@import "normalize";
@import "large";
@media only screen and (max-width: 70rem)
{ @import "medium"; }
@media only screen and (max-width: 48rem)
{ @import "small"; }