nav li
{
    float: left;
    width: 25%;
}
header h1
{
    padding-top: 20px;
    font-size: 1.75em;
}
header h2
{
    display: block;
    font-size: 1em;
}
main figure
{
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}
