/* --------------- SASS --------------- */
@for $i from 1 through 12 {
  $w:(($i/12)-0.02)*100%;
  .Mmedium-#{$i}{flex-basis: $w;}
}
@for $i from 1 through 12 {
  $w:($i/12)*100%;
  .medium-#{$i}{flex-basis: $w;}
}

/* --------------- html & body --------------- */

/* --------------- body --------------- */


/* --------------- mixed --------------- */


/* --------------- header --------------- */


/* --------------- nav --------------- */
nav
{
    display: none;
}

.nav-links
{
    width: 50%;
}

/* ------------------------------ main ------------------------------ */
main,
main-small
{
    display: none;
}

.main-medium
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    padding-right: 15px;
    margin: 0;
    width: 100vw;
    background-image: linear-gradient(to right, #81ecec, #00cec9, #74b9ff);
    div
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        .medium-nav
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 5px 15%;
            margin: 0;
            width: 100%;
            height: 100%;
            color: $off-white;
            div
            {
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 10px 0;
                cursor: pointer;
                a
                {
                    text-decoration: none;
                    color: $off-white;
                    cursor: pointer;
                    &:hover
                    {
                        color: lighten($off-white, 20%);
                    }
                }
                #active-nav
                {
                    color: lighten($off-white, 20%);
                    border-bottom: 3px solid lighten($off-white, 20%);
                }
            }
        }
        .main-content
        {
            background-color: #fff;
            padding: 15px;
            border-radius: 20px;
            border: 4px solid $off-white;
            h2,
            h3
            {
                padding: 0;
                margin: 0;
            }
            .content-picture-div
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                padding: 5px;
                .content-text
                {
                    width: 60%;
                    padding: 5px;
                    h3
                    {
                        color: #505050;
                        font-size: 130%;
                        border-bottom: 2px solid #505050;
                    }
                    p
                    {
                        text-align: justify;
                        color: #505050;
                        padding-top: 10px;
                    }
                }
                .content-pic
                {
                    width: 300px;
                    img
                    {
                        width: 100%; 
                        height: auto;
                        padding: 5px;
                    }
                }
            }
        }
    }
    div:nth-child(1)
    {
        position: sticky;
        top: 0;
        left: 0;
    }
}



/* --------------- main-section --------------- */


/* --------------- footer --------------- */
