/* --------------- SASS --------------- */
@for $i from 1 through 12 {
    $w:(($i/12)-0.02)*100%;
    .Mlarge-#{$i}{flex-basis: $w;}
}
@for $i from 1 through 12 {
    $w:($i/12)*100%;
    .large-#{$i}{flex-basis: $w;}
}

/* --------------- html & body --------------- */
*
{
    box-sizing: border-box;
}

*:focus
{
    outline:none;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Helvetica Neue', 'Oswald', sans-serif;
    font-size: $standard-font-size;
    overflow-x: hidden;
    width: 100vw;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* --------------- clear fix --------------- */
.clearfix:after
{
    content: "";
    display: block;
    clear: both;
}

/* --------------- body --------------- */

/* --------------- header --------------- */

/* --------------- nav --------------- */
.nav-bar
{
    @include flex-row;
    max-height: 80px;
    min-height: 80px;
    justify-content: flex-end;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    .hamburger-nav-box
    {
        @include flex-col;
        justify-content: space-between;
//        max-height: 22px;
//        min-height: 22px;
//        max-width: 30px;
//        min-width: 30px;
        width: auto;
        height: auto;
        margin-right: 40px;
        position: relative;
        cursor: pointer;
        .nav-top-bar,
        .nav-middle-bar,
        .nav-bottom-bar
        {
            @include flex-row;
            background-color: $dark-grey-color;
            width: 30px;
            height: 3px;
//            max-height: 3px;
//            min-height: 3px;
//            max-width: 30px;
//            min-width: 30px;
            padding: 0;
            margin: 3px 0;
            transition: all 0.3s ease;
        }
    }
}

.nav-content-container
{
    @include flex-row;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 40vh;
    width: 100%;
    z-index: 4;
    border-bottom: 5px solid $light-grey-color;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in;
    .nav-content
    {
        @include flex-row;
        position: absolute;
        top: 0;
        justify-content: space-between;
        height: 40vh;
        width: $max-width;
        .profile-text
        {
            @include flex-col;
            align-items: flex-start;
            opacity: 0;
            h2
            {
                @include h2-default;
                text-align: left;
                margin: 0;
                padding: 0;
            }
            h3
            {
                @include h3-default;
                text-align: left;
            }
        }
        .nav-links-section
        {
            @include flex-row;
            justify-content: flex-end;
            align-items: flex-start;
            .menu-section
            {
                @include flex-col;
                align-items: flex-start;
                margin-left: 160px;
                opacity: 0;
                h2
                {
                    @include h2-default;
                    margin: 0;
                    text-align: left;
                    letter-spacing: 5px;
                }
                a
                {
                    text-decoration: none;
                    h3
                    {
                        @include h3-default;
                        cursor: pointer;
                        text-align: left;
                        margin-top: 10px;
                        font-size: 16px;
                        letter-spacing: 2.5px;
                        border: 2px solid transparent;
                        transition: border 0.3s;
                        &:hover
                        {
                            border-bottom: 2px solid $dark-grey-color;
                        }
                    }
                }
            }
            .portfolio-section
            {
                @include flex-col;
                align-items: flex-start;
                margin-left: 160px;
                opacity: 0;
                h2
                {
                    @include h2-default;
                    margin: 0;
                    text-align: left;
                    letter-spacing: 5px;
                }
                a
                {
                    text-decoration: none;
                    h3
                    {
                        @include h3-default;
                        cursor: pointer;
                        text-align: left;
                        margin: 0;
                        margin-top: 10px;
                        font-size: 16px;
                        letter-spacing: 2.5px;
                        border: 2px solid transparent;
                        transition: border 0.3s;
                        &:hover
                        {
                            border-bottom: 2px solid $dark-grey-color;
                        }
                    }
                }
            }
        }
    }
}

.nav-content-container-active
{
    transform: translateY(0%);
    @include box-shadow-default;
}

@keyframes navLinkFade
{
    from
    {
        opacity: 0;
        transform: translateY(-200px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .nav-top-bar
{
    transform: rotate(-45deg) translate(-6.5px,6px);
}
.toggle .nav-middle-bar
{
    opacity: 0;
}
.toggle .nav-bottom-bar
{
    transform: rotate(45deg) translate(-6.5px,-6px);
}

/* --------------- main --------------- */
.hero-image
{
    @include flex-col;
    background-image: url(../images/lake-view-background.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
    .profile-box
    {
        @include flex-col;
        max-height: 600px;
        min-height: 600px;
        max-width: 450px;
        min-width: 450px;
        background-color: #fff;
        border: 5px solid $light-grey-color;
        position: relative;
        @include box-shadow-default;
        .style-profile-line
        {
            @include flex-row;
            position: absolute;
            top: 160px;
            height: 3px;
            width: 100%;
            background-color: $light-grey-color;
        }
        .box-white
        {
            background-color: #fff;
            width: 50%;
        }
        .profile-picture-circle
        {
            @include flex-row;
            max-height: 170px;
            min-height: 170px;
            max-width: 170px;
            min-width: 170px;
            background-image: url(../images/tyson-pic-profile-blur-added.jpg);
            background-position: center;
            background-size: cover;
            border: 3px solid $light-grey-color;
            border-radius: 50%;
            position: absolute;
            top: 75px;
        }
        .profile-text
        {
            @include flex-col;
            h2
            {
                @include h2-default;
            }
            h3
            {
                @include h3-default;
            }
        }
        .profile-icon-box
        {
            @include icon-magic;
        }
    }
    .page-arrow-down
    {
        @include page-arrow-down-defaults;
    }
}

.hero-image-canvas-project
{
    @include flex-row;
    height: 90vh;
    position: relative;
    .hero-container
    {
        @include flex-col;
        width: $max-width;
        height: 100%;
        .hero-display
        {
            @include flex-row;
//            width: 100%;
//            padding-top: 50%;
//            margin: 0;
            width: 75vw; /* 75% of viewport vidth */
            height: 48.27vw; /* 984/1529 * 75 */
            max-height: 75vh; /* 75% of viewport vidth */
            max-width: 116.5vh; /* 1529/984 * 75 */
            margin: auto;
            position: relative;
            img
            {
                width: auto;
                height: 100%;
                padding: 0;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            #hero-tablet,
            #hero-mobile
            {
                display: none;
            }
        }
        .canvas-project-title
        {
            @include flex-row;
            width: 100%;
            height: 20vh;
            padding: 80px 60px 0px 60px;
            img
            {
                width: auto;
                height: 100%;
                max-height: 120px;
                padding: 0;
                margin: 0;
            }
        }
        .canvas-project-picture-container
        {
            @include flex-row;
            width: 100%;
            height: 70vh;
            padding: 0px 60px;
            img
            {
                width: auto;
                height: 100%;
                padding: 0;
                margin: 0;
            }
            #profile-pic
            {
                border-radius: 50%;
                border: 5px solid #DADADA;
            }
            #resume-pic
            {
                border-radius: 20px;
                max-width: $max-width-project-brief;
                min-width: $max-width-project-brief;
                height: auto;
                border: 5px solid #DADADA;
                @include box-shadow-default;
            }
        }
        #profile-container
        {
            padding: 40px 0 120px 0;
        }
        #resume-container
        {
            height: auto;
            padding: 40px 0 120px 0;
        }
        .page-arrow-down
        {
            @include page-arrow-down-defaults;
        }
    }
}
#resume-hero
{
    height: auto;
}

/* --------------- ux-ui-section --------------- */
.ux-ui-section-container
{
    @include section-default;
    background-color: $dark-mint-color;
    .ux-ui-section
    {
        background-color: $dark-mint-color;
        .project-show-1
        {
            @include project-background-blue;
            .project-display
            {
                background-image: url(../images/canvas-project-preview.jpg);
            }
        }
        .project-show-2
        {
            @include project-background-red;
            .project-display
            {
                background-image: url(../images/goreact-project.jpg);
            }
        }
        .project-show-3
        {
            @include project-background-mustard;
            .project-display
            {
                background-image: url(../images/important-world-info-app-preview.jpg);
            }
        }
        .project-show-4
        {
            @include project-background-blue;
            .project-display
            {
                background-image: url(../images/clean-keyboards-preview.jpg);
            }
        }
    }
}

.canvas-background
{
    background-color: $red-color;
    .canvas-background
    {
        background-color: $red-color;
        .project-show-1
        {
            @include project-background-mint;
            .project-display
            {
                background-image: url(../images/canvas-project/canvas-display-1.jpg);
            }
        }
        .project-show-2
        {
            @include project-background-blue;
            .project-display
            {
                background-image: url(../images/canvas-project/sketches-desktop-mobile.jpg);
            }
        }
        .project-show-3
        {
            @include project-background-mustard;
            .project-display
            {
                background-image: url(../images/canvas-project/wireframes-desktop-mobile.jpg);
            }
        }
        .project-show-4
        {
            @include project-background-grey;
            .project-display
            {
                background-image: url(../images/canvas-project/grey-surface-comps.jpg);
            }
        }
        .project-show-6
        {
            @include project-background-blue;
            flex-direction: column-reverse;
            .project-display
            {
                background-image: url(../images/canvas-project/final-submission.jpg);
            }
        }
    }
}

/* --------------- website-section --------------- */
.website-section-container
{
    @include section-default;
    background-color: $dark-blue-color;
    .website-section
    {
        background-color: $dark-blue-color;
        .project-show-6
        {
            @include project-background-mint;
            .project-display
            {
                background-image: url(../images/cozy-preview.jpg);
            }
        }
        .project-show-7
        {
            @include project-background-mustard;
            .project-display
            {
                background-image: url(../images/omnifood-preview.jpg);
            }
        }
        .project-show-3
        {
            @include project-background-grey;
            .project-display
            {
                background-image: url(../images/frozen-light-preview.jpg);
            }
        }
        .project-show-5
        {
            @include project-background-red;
            .project-display
            {
                background-image: url(../images/pokemon-preview.jpg);
            }
        }
    }
}

/* --------------- canvas-project-explain --------------- */
.canvas-project-explain
{
    @include flex-row;
    background-color: $red-color;
    .head1-box
    {
        @include h1-page-details-header;
        flex-direction: column;
        max-width: $max-width-project-brief;
        min-width: $max-width-project-brief;
        padding: 150px 0 37.5px 0;
        h2
        {
            color: #fff;
            font-weight: 300;
            align-items: flex-start;
        }
    }
    .project-large-image-container
    {
        @include flex-col;
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        padding: 37.5px 0 37.5px 0;
        img
        {
            width: 100%;
            height: auto;
            border: 5px solid #DADADA;
        }
    }
    .project-container
    {
        @include flex-col;
        max-width: $max-width;
        min-width: $max-width;
        margin: 0;
        padding: 37.5px 0 150px 0;
        img
        {
            width: 100%;
            height: auto;
            margin: 25px 0;
            border: 5px solid #DADADA;
        }
        #first-image
        {
            padding-top: 0;
        }
        #last-image
        {
            padding-bottom: 0;
        }
    }
}

/* --------------- footer --------------- */
.footer-bar
{
    @include flex-row;
    background-color: $dark-mint-color;
    .copy-right-box
    {
        @include flex-row;
        justify-content: flex-end;
        padding-right: 10px;
        h2
        {
            color: #fff;
            font-weight: 400;
            padding: 0;
            margin: 0;
            font-size: 1.5vw;
        }
    }
    .footer-icon-box
    {
        @include icon-magic;
        position: relative;
        @include flex-row;
        justify-content: flex-start;
        bottom: auto;
        .icon-size-adjust
        {
            @include flex-row;
            justify-content: flex-start;
            padding: 1.5vw 0;
            padding-left: 10px;
        }
        .icon-boxes .background-icon,
        .icon-boxes .color-icon
        {
            padding: 0 2px;
        }
    }
}

@media only screen and (max-width: 1400px)
{
    .nav-content-container .nav-content .nav-links-section .portfolio-section,
    .nav-content-container .nav-content .nav-links-section .menu-section
    {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 1100px)
{
    .nav-content-container
    {
        flex-direction: row;
        height: 100vh;
        .nav-content
        {
            height: 100vh;
            flex-direction: row;
            align-content: center;
            align-items: center;
            .profile-text
            {
                width: 100%;
                align-items: center;
                margin-bottom: 30px;
                h3
                {
                    text-align: center;
                }   
            }
            .nav-links-section
            {
                width: 100%;
                justify-content: center;
                margin-top: 30px;
                .menu-section,
                .portfolio-section
                {
                    margin: 0 30px;
                }
            }
        }
    }
    
}
@media only screen and (min-width: 1200px)
{
    .hero-image
    {
        background-attachment: fixed;
    }
}


