/* --------------- SASS --------------- */
@for $i from 1 through 12 {
    $w:(($i/12)-0.02)*100%;
    .Mlarge-#{$i}{flex-basis: $w;}
}
@for $i from 1 through 12 {
    $w:($i/12)*100%;
    .large-#{$i}{flex-basis: $w;}
}

/* --------------- html & body --------------- */
*
{
    box-sizing: border-box;
}

*:focus
{
    outline:none;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Helvetica Neue', 'Oswald', sans-serif;
    font-size: $standard-font-size;
    overflow-x: hidden;
    width: 100vw;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* --------------- clear fix --------------- */
.clearfix:after
{
    content: "";
    display: block;
    clear: both;
}

/* --------------- body --------------- */

/* --------------- header --------------- */

/* --------------- nav --------------- */
.nav-bar
{
    @include nav-footer-default;
    justify-content: flex-end;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    .hamburger-nav-box
    {
        @include flex-col;
        justify-content: space-between;
        max-height: 22px;
        min-height: 22px;
        max-width: 30px;
        min-width: 30px;
        margin-right: 40px;
        position: relative;
        .nav-top-bar,
        .nav-middle-bar,
        .nav-bottom-bar
        {
            @include flex-row;
            background-color: $dark-grey-color;
            max-height: 3px;
            min-height: 3px;
            max-width: 30px;
            min-width: 30px;
            padding: 0;
            margin: 0;
        }
    }
}

/* --------------- main --------------- */
.hero-image
{
    @include flex-col;
    background-image: url(../images/lake-view-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    position: relative;
    .profile-box
    {
        @include flex-col;
        max-height: 600px;
        min-height: 600px;
        max-width: 450px;
        min-width: 450px;
        background-color: #fff;
        border: 5px solid $light-grey-color;
        position: relative;
        @include box-shadow-default;
        .style-profile-line
        {
            @include flex-row;
            position: absolute;
            top: 160px;
            height: 3px;
            width: 100%;
            background-color: $light-grey-color;
        }
        .box-white
        {
            background-color: #fff;
            width: 50%;
        }
        .profile-picture-circle
        {
            @include flex-row;
            max-height: 170px;
            min-height: 170px;
            max-width: 170px;
            min-width: 170px;
            background-image: url(../images/tyson-pic-profile-blur-added.jpg);
            background-position: center;
            background-size: cover;
            border: 3px solid $light-grey-color;
            border-radius: 50%;
            position: absolute;
            top: 75px;
        }
        .profile-text
        {
            @include flex-col;
            h2
            {
                @include h2-default;
            }
            h3
            {
                @include h3-default;
            }
        }
        .profile-icon-box
        {
            @include icon-magic;
        }
    }
    .page-arrow-down
    {
        @include flex-row;
        position: absolute;
        bottom: 36px;
        #arrow-icon-size
        {
            width: 72px;
            height: auto;
            position: absolute;
            top: 0;
        }
        a
        {
            #arrow-icon-size
            {
                @include arrow-down-default;
            }
        }
    }
}

/* --------------- ux-ui-section --------------- */
.ux-ui-section-container
{
    @include section-default;
    background-color: $dark-mint-color;
    .ux-ui-section
    {
        background-color: $dark-mint-color;
        .project-show-1
        {
            @include project-background-blue;
        }
        .project-show-2
        {
            @include project-background-red;
        }
        .project-show-3
        {
            @include project-background-mustard;
        }
        .project-show-4
        {
            @include project-background-blue;
        }
    }
}

/* --------------- website-section --------------- */
.website-section-container
{
    @include section-default;
    background-color: $dark-blue-color;
    .website-section
    {
        background-color: $dark-blue-color;
        .project-show-6
        {
            @include project-background-mint;
        }
        .project-show-7
        {
            @include project-background-mustard;
        }
        .project-show-3
        {
            @include project-background-grey;
        }
        .project-show-5
        {
            @include project-background-red;
        }
    }
}

/* --------------- footer --------------- */
.footer-bar
{
    @include nav-footer-default;
    background-color: $dark-mint-color;
    .copy-right-box
    {
        @include flex-row;
        justify-content: flex-end;
        padding-right: 10px;
        h2
        {
            color: #fff;
            font-weight: 400;
            padding: 0;
            margin: 0;
        }
    }
    .footer-icon-box
    {
        @include icon-magic;
        position: relative;
        @include flex-row;
        justify-content: flex-start;
        bottom: auto;
        .icon-size-adjust
        {
            @include flex-row;
            justify-content: flex-start;
            padding: 20px;
            padding-left: 10px;
        }
        .icon-boxes .background-icon,
        .icon-boxes .color-icon
        {
            padding: 0 2px;
        }
    }
}



