/* --------------- SASS --------------- */
@for $i from 1 through 12 {
    $w:(($i/12)-0.02)*100%;
    .Msmall-#{$i}{flex-basis: $w;}
}
@for $i from 1 through 12 {
    $w:($i/12)*100%;
    .small-#{$i}{flex-basis: $w;}
}

/* --------------- html & body --------------- */

/* --------------- body --------------- */

/* --------------- mixed --------------- */

/* --------------- header --------------- */

/* --------------- nav --------------- */
.nav-wrapper
{
    nav
    {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        .menu
        {
            display: block !important;
            cursor: pointer;
            z-index: 5;
            margin-right: 15px;
            div
            {
                width: 27px;
                height: 3px;
                background-color: $off-white;
                margin: 5px;
                transition: all 0.3s ease;
            }
        }
        .nav-links
        {
            position: absolute;
            left: 50%;
            height: $nav-height;
            min-height: 400px;
            top: 63px;
            display: flex;
            background-color: $grey-color;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translateX(-250%);
            justify-content: space-around;
            z-index: 4;
            .nav-breakers
            {
                display: none;
            }
            li
            {
                opacity: 0;
                a
                {
                    border-bottom: 3px solid transparent;
                    padding: 0;
                    font-size: 200%;
                }
            }
            #first-li
            {
                padding-top: 35px;
            }
            #last-li
            {
                padding-bottom: 30px;
            }
        }
        .nav-active
        {
            transform: translateX(-50%);
            padding: 0;
            transition: transform 0.5s ease-in;
            border-bottom: 4px solid $off-white;
        }
    }
}

/* --- menu slides from the side --- */
@keyframes navLinkFade {
    from
    {
        opacity: 0;
        transform: translateX(-50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* --- animation of nav menu burger --- */
.toggle .menu-top
{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .menu-middle
{
    opacity: 0;
}
.toggle .menu-bottom
{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* --------------- main --------------- */
.main-page
{
    background-image: url(../images/smaller-trees.jpg);
    background-attachment: scroll;
}

.main-page .user-information img
{
    width: 225px;
}

.projects-section
{
    padding: 65px 0 0 0;
}

.card-info
{
    padding: 10px !important; 
}

/* --------------- footer --------------- */
.footer-wrapper footer
{
    flex-direction: column;
    height: 100px;
}

.footer-wrapper footer div:nth-child(1),
.footer-wrapper footer div:nth-child(2)
{
    justify-content: center;
}

.footer-wrapper footer div .social-links li a i
{
    padding: 10px;
}