/* --------------- colors --------------- */
$cottam-color: #c6faf1;
$white-color: #fff;
$website-theme: #00cec9;
$secondary-website-theme: #74b9ff;
$off-white: #eee;
$grey-color: #b2b2b2;
$dark-grey-color: #575757;

/* --------------- paddings --------------- */
$padding-break: 1rem;
$nav-size: 200px;
$break-gutter: 1rem 2%;
$nav-padding: 18.5px 29px;

/* --------------- other --------------- */
$standard-font-size: 16px;
$max-width: 80rem;

$nav-height: calc(100vh - 63px);


/* --------------- imports --------------- */
@import "normalize";
@import "large";
@media only screen and (max-width: 80rem)
{ @import "medium"; }
@media only screen and (max-width: 40rem)
{ @import "small"; }