/* --------------- * --------------- */
*
{
    box-sizing: border-box;
}

/* --------------- clear fix --------------- */
.clearfix:after
{
    content: "";
    display: block;
    clear: both;
}

/* --------------- similar --------------- */

h1,
h2,
p,
nav ul
{
    margin: 0;
}

header,
main h2
{
    color: $website-theme; 
}

nav,
footer
{
    background-color: $website-theme;
}

nav a,
main
{
    display: block;
}

nav a,
footer,
p
{
    text-align: center;
}


nav a,
footer
{
    color: $off-white;
}

header,
main,
footer
{
    padding: $break-gutter; 
}

header,
footer
{
    font-weight: 400;
}

nav,
main
{
    font-weight: 300; 
}

/* --------------- body --------------- */
body
{
    font-family: 'Lato', sans-serif;
    font-size: $standard-font-size;
}

/* --------------- header --------------- */

header h1
{
    font-size: 200%;
}

header h2
{
    font-size: 150%;
}

/* --------------- nav --------------- */
nav ul
{
    padding: 0;
}

nav li
{
    list-style-type: none;
}

nav a
{
    padding: $nav-padding; 
    text-decoration: none;
}

nav a:hover
{
    background-color: lighten($website-theme, 10%);
    transition: background-color 0.2s;
}

nav li.active
{
    background-color: darken($website-theme, 15%);
}

/* --------------- main --------------- */

.flex-container
{
    display: flex;
    flex-wrap: wrap;
}
.flex-container div
{
    flex-basis: 50%;
    padding: 10px;
}

.flex-container img
{
    width: 100%;
    height: auto;
}

.flex-container p
{
    margin-top: 5px;
}