/* --------------- SASS --------------- */
@for $i from 1 through 12 {
    $w:(($i/12)-0.02)*100%;
    .Mlarge-#{$i}{flex-basis: $w;}
}
@for $i from 1 through 12 {
    $w:($i/12)*100%;
    .large-#{$i}{flex-basis: $w;}
}


/* --------------- header --------------- */
header
{
    color: #fff;
    height: 275px;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url(../images/tomb-background.jpg);
    background-position: center;
    background-size: cover;
}

.header-1
{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

header h1
{
    font-size: 350%;
    padding: 2px;
    text-shadow: 2px 2px $website-theme;
    text-align: right;
}

header h2
{
    font-size: 250%;
    padding: 2px;
    text-shadow: 2px 2px $website-theme;
    text-align: right;
}

.search-1 input
{
    width: 300px;
    height: auto;
    border-radius: 5px;
    padding: 8px 5px;
    border: 4px solid $off-white;
}

/* --------------- nav --------------- */

nav
{
    justify-content: flex-start;
    color: $off-white;
    max-height: 55px;
    min-height: 55px;
    background-color: $website-theme;
}

.nav-links
{
    justify-content: space-around;
    padding: 0;
}

.nav-links li,
.social-links li
{
    list-style: none;
}

.nav-links a,
.social-links a
{
    color: $off-white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    white-space: nowrap;
    padding: $nav-padding;
}

nav a:hover
{
    background-color: lighten($website-theme, 10%);
    transition: background-color 0.2s;
}

nav li.active
{
    background-color: lighten($website-theme, 10%);
}

.menu,
.search-2
{
    display: none;
}

/* ------------------------------ main ------------------------------ */
main
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    width: $max-width;
    h1
    {
        color: $website-theme;
    }
}

/* --------------- main-section --------------- */
.main-section
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    color: $website-theme;
    margin: 0;
    padding: 0;
    width: 100%;
    .mandatory-stuff
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 100%;
        h2
        {
            padding: 10px 5px;
            margin: 0;
            color: $website-theme;
        }
        ul
        {
            margin: 0 0 0 25px;
            padding: 0;
            li
            {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                i
                {
                    font-size: 200%;
                    padding: 0 5px;
                }
                a
                {
                    text-decoration: none;
                }
                p
                {
                    color: $website-theme;
                }
            }
        }
    }
}

/* --------------- main part of assignment --------------- */
.main-project
{
    @include col-flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 5px;
    background-color: lighten($website-theme, 10%);
    border: 5px solid $website-theme;
    color: $off-white;
    h2
    {
        padding: 5px; 
        margin: 0 auto;
        color: $off-white;
        font-size: 200%;
        text-align: center;
    }
    #stem
    {
        padding: 10px 5px;
        margin: 0;
        color: $off-white;
        font-size: 150%;
    }
    button
    {
        font-family: 'Rancho', cursive;
        font-size: 150%;
        background-color: $off-white;
        border: 3px solid $website-theme;
        color: $website-theme;
        padding: 10px;
        margin: 2.5px 0px;
        width: 100%;
        text-align: left;
        transition: background-color 0.3s;
        cursor: pointer;
        &:hover
        {
            background-color: #fff;
        }
    }
    .feedback
    {
        padding: 5px;
        color: $off-white;
        font-size: 150%;
    }
}


/* --------------- footer --------------- */
footer
{
    background-color: $website-theme;
}

footer,
.social-links
{
    justify-content: center;
    flex-direction: row;
}

footer div
{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px
}

footer div:nth-child(2)
{
    justify-content: flex-start;
}

.social-links
{
    text-decoration: none;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ion-social-facebook
{
    font-size: 30px;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-twitch
{
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover,
.ion-social-facebook:active,
.ion-social-twitter:hover,
.ion-social-twitter:active,
.ion-social-twitch:hover,
.ion-social-twitch:active
{
    color: darken($website-theme, 10%);
}

.social-links
{
    margin: 0;
    padding: 0;
}

.social-links li
{
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.social-links li:nth-child(3)
{
    margin-right: 0px;
}

.social-links a
{
    margin: 0;
    padding: 0 !important;
}