/* --------------- SASS --------------- */
@for $i from 1 through 12 {
    $w:(($i/12)-0.02)*100%;
    .Mlarge-#{$i}{flex-basis: $w;}
}
@for $i from 1 through 12 {
    $w:($i/12)*100%;
    .large-#{$i}{flex-basis: $w;}
}

/* --------------- html & body --------------- */
*
{
    box-sizing: border-box;
}

*:focus
{
    outline:none;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: $standard-font-size;
    overflow-x: hidden;
    width: 100vw;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* --------------- clear fix --------------- */
.clearfix:after
{
    content: "";
    display: block;
    clear: both;
}

/* --------------- body --------------- */

/* --------------- mixed --------------- */
body,
header,
.header-1,
nav,
.nav-links,
footer,
.social-links,
main,
.people-section,
.people-section div,
.cases-section,
.blogs-section,
.blogs-section div,
.blogs-section h3,
.blogs-section p,
.tip-faq,
.tip,
.tip h2,
.tip p,
.tip a,
.faq,
.faq h2,
.faq p,
.faq a
{
    display: flex;
    align-items: center;
}

header,
nav,
main,
footer
{
    max-width: 75rem;
}

.people-section,
.cases-section,
.blogs-section,
.tip-faq
{
    width: 75rem;
    flex-wrap: wrap;
}

h1,
h2,
p,
nav ul
{
    margin: 0;
}

main h2
{
    color: $website-theme;
}

footer
{
    background-color: $website-theme;
}

nav a
{
    display: block;
}

nav a,
footer,
p
{
    text-align: center;
}

nav a,
footer
{
    color: $off-white;
}

header,
footer
{
    padding: $break-gutter;
}

header,
footer
{
    font-weight: 400;
    background-color: $website-theme;
}

.header-wrapper
{
    background-color: $website-theme;
    width: 100%;
    border-top: 5px solid $secondary-website-theme;
}

.nav-wrapper
{
    background-color: $secondary-website-theme;
    width: 100%;
}

.footer-wrapper
{
    background-color: $website-theme;
    width: 100%;
}

header, nav, main, footer
{
    margin: auto;
}

/* --------------- header --------------- */
header
{
    color: $off-white;
    min-height: 110px;
    flex-direction: row;
    justify-content: space-between;
}

.header-1
{
    flex-direction: column;
    justify-content: space-evenly;

}

header h1
{
    font-size: 200%;
}

header h2
{
    font-size: 150%;
}

.search-1 input
{
    width: 300px;
    height: auto;
    border-radius: 5px;
    padding: 5px;
}

/* --------------- nav --------------- */

nav
{
    justify-content: flex-start;
    color: $off-white;
    padding: 0px 2%;
    min-height: 55px;
    max-height: 55px;
}

.nav-links
{
    justify-content: space-around;
    width: 65%;
    padding: 0;
}

.nav-links li,
.social-links li
{
    list-style: none;
}

.nav-links a,
.social-links a
{
    color: $off-white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    padding: 18.5px 29px;
    white-space: nowrap;
}

nav a:hover
{
    background-color: lighten($secondary-website-theme, 10%);
    transition: background-color 0.2s;
}

nav li.active
{
    background-color: darken($secondary-website-theme, 15%);
}

.menu,
.search-2
{
    display: none;
}

/* ------------------------------ main ------------------------------ */
main
{
    flex-direction: column;
    justify-content: flex-start;
}

/* --------------- people-section --------------- */
.people-section
{
    justify-content: center;
    margin: 30px 0px 0px 0px;
    div
    {
        width: 100%;
        flex-direction: column;
        box-shadow: 5px 5px 30px#959595;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        justify-content: space-between;
        img
        {
            width: 100%;
            height: auto;
        }
        button
        {
            width: 70%;
            height: 40px;
            margin: 10px 0px 10px 0px;
            background: $website-theme;
            color: $off-white;
            cursor: pointer;
            box-shadow: 5px 5px 30px#959595;
            border-radius: 10px;
            transition: background-color 0.2s;
            &:hover
            {
                background-color: lighten($website-theme, 10%);
            }
        }
    }
}

/* --------------- cases-section --------------- */
.cases-section
{
    justify-content: center;
    flex-direction: row;
    margin: 30px 0px 30px 0px;
    button
    {
        height: 60px;
        background: $secondary-website-theme;
        color: $off-white;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.2s;
        &:hover
        {
            background-color: lighten($secondary-website-theme, 10%);
        }
    }
    .large-4
    {
        margin-right: 20px;
        margin-left: 20px;
    }
}


/* --------------- blogs-section --------------- */
.blogs-section
{
    justify-content: space-between;

    div
    {
        flex-direction: column;
        box-shadow: 1px 1px 30px#959595;
        border-radius: 10px;
        img
        {
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        h3
        {
            width: 95%;
            justify-content: flex-start;
        }
        p
        {
            width: 95%;
            justify-content: flex-start;
            margin: 0px 0px 10px 0px;
            text-align: left;
        }
        button
        {
            width: 100%;
            height: 50px;
            border-radius: 0 0 10px 10px;
            background: $website-theme;
            color: $off-white;
            cursor: pointer;
            transition: background-color 0.2s;
            &:hover
            {
                background-color: lighten($website-theme, 10%);
            }
        }
    }
}

/* --------------- tip-faq --------------- */
.tip-faq
{
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.tip
{
    flex-direction: column;
    background: $secondary-website-theme;
    border-radius: 10px;
    h2, p, a
    {
        width: 95%;
        justify-content: flex-start;
        color: $off-white;
        margin: 8px 0px 8px 0px;
        text-align: left;
    }
    a
    {
        text-decoration: none;
        justify-content: center;
        margin-bottom: 10px;
        cursor: pointer;
        transition: text-shadow 0.2s;
        &:hover
        {
            text-shadow: 2px 2px #000;
        }
    }
}
.faq
{
    height: 100%;
    margin-top: 0;
    flex-direction: column;
    background: $secondary-website-theme;
    border-radius: 10px;
    h2, p, a
    {
        width: 90%;
        justify-content: flex-start;
        color: $off-white;
        margin: 8px 0px 8px 0px;
        text-align: left;
    }
    a
    {
        text-decoration: none;
        justify-content: center;
        margin-bottom: 10px;
        cursor: pointer;
        transition: text-shadow 0.2s;
        &:hover
        {
            text-shadow: 2px 2px #000;
        }
    }
}

/* --------------- footer --------------- */
footer,
.social-links
{
    justify-content: center;
    flex-direction: row;
}

.social-links
{
    text-decoration: none;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ion-social-facebook
{
    font-size: 30px;
}

.social-links a
{
    padding: 0;
    margin: 0 29px;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-twitch
{
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover,
.ion-social-facebook:active
{
    color: lighten($website-theme, 10%);
}

.ion-social-twitter:hover,
.ion-social-twitter:active
{
    color: #55acee;
}

.ion-social-twitch:hover,
.ion-social-twitch:active
{
    color: lighten(#6441a5, 10%);
}
