/* --------------- * --------------- */
*
{
    box-sizing: border-box;
}

/* --------------- clear fix --------------- */
.clearfix:after
{
    content: "";
    display: block;
    clear: both;
}

/* --------------- similar --------------- */

h1,
h2,
h3,
p,
nav ul
{
    margin: 0;
}

h2,
h3
{
    color: $website-theme; 
}

nav,
footer
{
    background-color: $website-theme;
}

nav a,
main
{
    display: block;
}

nav a,
footer
{
    text-align: center;
}

nav a,
footer
{
    color: $off-white;
}

header,
main,
footer
{
    padding: $break-gutter; 
}

header,
footer
{
    font-weight: 400;
}

nav,
main
{
    font-weight: 300; 
}

/* --------------- body --------------- */
body
{
    font-family: 'Lato', sans-serif;
    font-size: $standard-font-size;
}

/* --------------- common --------------- */

h1
{
    font-size: 200%;
}

h2
{
    font-size: 150%;
}

h3
{
    font-size: 125%;
    margin: 10px 0;
}

p
{
    text-align: justify;
}

/* --------------- header --------------- */
.header-wrapper
{
    width: 100%;
    background-position: center;
}

header
{
    background-image: url(../images/small.jpg);
    height: 162px;
    background-position: center;
    padding-top: 25px;
    
    h1, h2
    {
        color: $off-white;
        margin: $break-gutter;
    }
}

/* --------------- nav --------------- */
.nav-foot-wrapper
{
    width: 100%;
    background-color: $website-theme;
}

nav ul
{
    padding: 0;
}

nav li
{
    list-style-type: none;
}

nav a
{
    padding: $nav-padding; 
    text-decoration: none;
}

nav a:hover
{
    background-color: lighten($website-theme, 10%);
    transition: background-color 0.2s;
}

nav li.active
{
    background-color: darken($website-theme, 15%);
}

/* --------------- main --------------- */
        
.icon-bear,
.icon-bear2
{
    display: block;
    font-size: 60px;
    animation: icon-bear 10s ease-out;
    position: relative;
    float: left;
    margin: 2.5px;
}

.icon-bear
{
    animation-delay: 0.5s
}

@keyframes icon-bear
{
    0%   {left: 0px; bottom: 0px;}
    10%  {left: 5px; bottom: 10px;}
    20%  {left: 10px; bottom: 0px; color: #a26a6a;}
    30%  {left: 15px; bottom: 10px;}
    40%  {left: 20px; bottom: 0px; color: #fff;}    
    50%  {left: 15px; bottom: 10px;}
    60%  {left: 10px; bottom: 0px; color: #a26a6a;}
    70%  {left: 5px; bottom: 10px;}
    80%  {left: 0px; bottom: 0px;}
}

.icon-hand
{
    display: block;
    font-size: 60px;
    position: relative;
    float: left;
    margin: 2.5px;
    animation: icon-hand 7s ease-out;
    color: #E0AC69
}

@keyframes icon-hand
{
    0%  {transform: rotate(-15deg);}
    25% {transform: rotate(15deg);}
    50% {transform: rotate(-15deg);}
    75% {transform: rotate(15deg);}
    100% {transform: rotate(0deg);}
    
}
